body {
    background: #f4f4f4;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 14pt;
    /*line-height: 1.75;*/
}

#mainNavbar {
    background: #ffffff;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 400;
    color: #3c3b3b;
}

#mainNavbar .navbar-link:hover{
    color: #2e59ba;
}

#mainNavbar .navbar-brand{
    font-weight: 700;
}

.img-fluid {
	width: 10em;
	border-radius: 50%;
	display: block;
			
}