body {
    background: #f4f4f4;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 14pt;
    /*line-height: 1.75;*/
}

/* Region : NavBar */
#mainNavbar {
    background: #ffffff;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 400;
    color: #3c3b3b;
}

#mainNavbar .navbar-link:hover{
    color: #2e59ba;
}

#mainNavbar .navbar-brand{
    font-weight: 700;
}
/* EndRegion : NavBar */

/* Region : General */
a{
    color: #3c3b3b;
}

a :hover{
    color: #2e59ba;;
}
/* EndRegion : General */

/* Region : SideBar */
.side-bar{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.img-fluid {
	width: 10em;
	border-radius: 50%;
}

.intro h2{
    color: #3c3b3b;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 700;
}

.blurb h2{
    font-size: 0.9em;
    font-weight: 700;
    /* margin: 0 0 (_size(element-margin) * 0.75) 0; */
}

.blurb p{
    font-size: 0.8em;
}
/* EndRegion : SideBar */