/*Region : Resume */
#resumeNavbar a{
    color: #3c3b3b;
    padding-left: 0;
}

#resumeNavbar a:hover{
    color: #2e59ba;
}

#resume-body h3{
    margin-top: 2em;
   margin-bottom: 2em;
   text-align: center;
}


.degree{
    margin-bottom: 1em;
}
.degree h4{
    letter-spacing: normal;
    letter-spacing: .16em;
    margin-bottom: 0.1em;
    text-transform: none;
    font-weight: 400;
}
.degree a{
    text-decoration: none;
    border-bottom: dotted 1px rgba(160,160,160,0.65);
    letter-spacing: 0.25em;
}

.degree a:hover{
    color: #2e59ba;
}

.daterange {
    font-family: "Raleway",Helvetica,sans-serif;
    font-size: .7em;
    font-weight: 400;
    letter-spacing: .25em;
    line-height: 2.5;
    margin-top: -1em;
    text-transform: uppercase;
}

#experience ul, #awards ul{
    padding-left: 1rem;
    padding-top: 0;
    margin-top: -0.7em;
    margin-bottom: 2em;
}

.job-container a {
    text-decoration: none;
    color: #3c3b3b;
}

.job-container a:hover {
    color: #2e59ba;
}
.job-container p{
    color: #3c3b3b;
}

#pills-tab{
    margin-bottom: 2em;
}

#pills-tab h4{
    margin-bottom: 0;
}

#skills .flex-column {
    flex-direction: row !important;
    justify-content: center;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
    margin-left: 0;
}


.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#6adcfa;
	
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;

}

.skillbar-bar {
	height:35px;
	background:#6adcfa;
	border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}

#languages .skillbar-bar,#languages .skillbar-title,#languages .skillbar-title {
    background: rgb(100, 203, 123);
}

#programming .skillbar-bar,#programming .skillbar-title,#programming .skillbar-title {
    background: rgb(228, 114, 114);
}

#tools .skillbar-bar,#tools .skillbar-title,#tools .skillbar-title {
    background: rgb(105, 104, 179);
}

#courses {
    padding-top: 1.6em;
    text-align: center;
}

#courses h4 {
    padding-top: 1.6em;
}
.course-list {
    display: block;
}

#courses a, .course-container ,.course-number ,.course-name, .course-dot{
    display: inline;
}

#courses a {
    text-decoration: none;
    border-bottom: dotted 1px rgba(160,160,160,0.65);
}

#courses ul li {
    list-style-type: none;
}

/* EndRegion : Resume */

@media (max-width: 600px) {
    .course-list{
        padding-left: 0;
    }
}